@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --purple-color-600: #6d6082;
  --purple-color-800: #463A58;
  --golden-yellow: #F7B500
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-purpleN-600: var(--purple-color-600);
  --color-purpleN-800: var(--purple-color-800);
  --color-golden-yellow: var(--golden-yellow);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-italiana: var(--font-italiana);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
* {
  /* margin: 0; */
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

img {
  width: 100%;
  height: 100%;
  letter-spacing: -0.35rem;
}
/* p {
  font-size: 1.125rem;
  font-weight: 500;
} */
section {
  position: relative;
  width: 100%;
  height: 90svh;
  padding-top: 5svh;
  padding-bottom: 5svh;
  margin-bottom: 5svh;
  margin-top: 5svh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* @media (max-width: 1000px) {
  h1 {
    font-size: 2rem;
    letter-spacing: 0;
  }
  p {
    font-size: 1rem;
  }
} */
